<launch>
  <arg name="rosbag_path"/>
  <rosparam file="$(find vdbfusion_ros)/config/FR2Desk2.yaml" />
  <node name="vdbfusion" pkg="vdbfusion_ros" type="vdbfusion_ros_node" output="screen"/>
  <node name="FR2Desk2" pkg="rosbag" type="play" output="screen" args="--clock $(arg rosbag_path)"/>
</launch>
